/*@import url("https://fonts.googleapis.com");*/
/*@import url("https://fonts.gstatic.com");*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lobster+Two&family=Bebas+Neue&family=Cormorant+Garamond:wght@500&family=Nunito:wght@200;400&family=Yeseva+One&display=swap");

/*for menu*/
p1 {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	color: rgb(67, 67, 67);
	font-family: 'Cormorant Garamond', cursive;
	font-style: italic;
	font-size: 450%;
	font-weight: bolder;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	min-height: 0;
}

/*for categorie*/
p2 {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	color: rgb(97, 97, 97);
	font-family: 'Yeseva One', cursive;
	font-size: 250%;
	font-weight: bolder;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	min-height: 0;
}

/*for nom*/
p3 {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	color: rgb(143, 124, 98);
	font-family: 'Amatic SC', cursive;
	letter-spacing: 0.07em;
	font-size: 180%;
	font-weight: bolder;
	margin: 0.4em;
	min-height: 0;
}

/*for prix*/
p4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 0;

	text-align: right;
	color: rgb(149, 149, 149);
	font-family: 'Bebas Neue', cursive;
	font-size: 140%;
	font-weight: lighter;
	min-height: 0;
}

/*for description*/
p5 {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	color: rgb(14, 14, 14);
	font-family: 'Nunito', sans-serif;
	font-size: 120%;
	font-weight: lighter;
	margin-bottom: 1em;
	margin-top: 1em;
	min-height: 0;
}

/*for commentaire*/
p6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: rgb(74, 74, 74);

	font-family: 'Amatic SC', sans-serif;
	letter-spacing: 0.06em;
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 1em;
	min-height: 0;
}

/*for language box*/
p7 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	color: rgb(84, 84, 84);
	font-family: 'Amatic SC', sans-serif;
	letter-spacing: 0.06em;
	font-size: 150%;
	font-weight: bolder;
	min-height: 0;
}

/*contener for name and price*/
conteneurMenuPrix {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 0;
}

/*contener for languages column*/
conteneur2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*contener for languages rows*/
conteneur3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*contener for single menu*/
conteneurMenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 0;
}

/*contener for single menu during print*/
PrintConteneurMenu {
	display: flex;
	flex-direction: column;
	height: 297mm;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 0;
}

/*contener for print prompt*/
conteneur6 {
	display: flex;
	flex-direction: row;
	justify-content: right;
}

button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
	color: rgb(94, 94, 94);
	border-bottom: solid;
	font-family: 'Lobster Two', cursive;
	font-size: 200%;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 1em;
}

button:hover {
	background-color: rgb(208, 208, 208);
}

@page {
	size: A4;
}

@media print {

	html,
	body {
		width: 210mm;
		height: 297mm;
	}
}