/*@import url("https://fonts.googleapis.com");*/
/*@import url("https://fonts.gstatic.com");*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lobster+Two&family=Bebas+Neue&family=Cormorant+Garamond:wght@500&family=Nunito:wght@200;400&family=Yeseva+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*for menu*/
p1 {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Oswald', sans-serif;
	/* font-style: italic; */
	font-size: 200%;
	font-weight: 200;
	/* margin-bottom: 0.3em; */
	margin-top: 0.3em;
	min-height: 0;
}

/*for categorie*/
p2 {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Yeseva One', cursive;
	font-size: 250%;
	font-weight: bolder;
	/* margin-bottom: 0.3em; */
	margin-top: 1em;
	min-height: 0;
}

/*for nom*/
p3 {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Oswald', cursive;
	/* letter-spacing: 0.07em; */
	font-size: 170%;
	font-weight: 200;
	text-transform: uppercase;
	/* margin: 0.4em; */
	/* margin-top: 0.6em; */
	/* margin-bottom: 0; */
	min-height: 0;
	vertical-align: middle;
}

/*for prix*/
p4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 0;

	text-align: right;
	color: rgb(0, 0, 0);
	/* font-family: 'Bebas Neue', cursive; */
	font-family: 'Oswald', sans-serif;
	font-size: 140%;
	font-weight: 200;
	min-height: 0;
	vertical-align: middle;
}

/*for description*/
p5 {
	display: flex;
	flex-direction: column;
	justify-content: center;

	/* letter-spacing: 0.2em; */
	text-align: center;
	color: rgb(0, 0, 0);
	/* font-family: 'Nunito', sans-serif; */
	font-family: 'Oswald', sans-serif;
	/* font-size: 120%; */
	font-size: 140%;
	font-weight: lighter;
	/* margin-bottom: 0.2em; */
	margin-top: 0.4em;
	min-height: 0;
}

/*for commentaire*/
p6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: rgb(0, 0, 0);

	/* font-family: 'Amatic SC', sans-serif; */
	font-family: 'Oswald', sans-serif;
	/* letter-spacing: 0.06em; */
	font-size: 140%;
	font-weight: 200;
	/* margin-bottom: 1em; */
	margin-top: 0em;
	/* margin-bottom: 0.4em; */
	min-height: 0;
}

/*for language box*/
p7 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	color: rgb(0, 0, 0);
	font-family: 'Oswald', sans-serif;
	/* letter-spacing: 0.06em; */
	font-size: 150%;
	font-weight: 300;
	min-height: 0;
}

/*contener for name and price*/
conteneurMenuPrix {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 0;
	vertical-align: middle;
}

/*column contener for name and price*/
columnConteneurMenuPrix {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 0;
	vertical-align: middle;
	margin-top: 1.5em;
	/* margin-bottom: 0.1em; */
}

/*contener for languages column*/
conteneur2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*contener for languages rows*/
conteneur3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*contener for single menu*/
conteneurMenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 0;
}

/*column contener for single menu during print*/
columnPrintConteneurMenu {
	height: 297mm;
	width: 210mm;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* flex-grow: 1;
	flex-basis: 0; */
	/* font-size: 80%; */
	/* margin: 2mm; */
}

/* raw contener for single menu during print*/
rawPrintConteneurMenu {
	display: flex;
	flex-direction: raw;
	width: 210mm;
	height: 297mm;
	justify-content: space-between;
	/* flex-grow: 1;
	flex-basis: 0; */
	font-size: 80%;
	/* margin: 2mm; */
	padding: 4mm;
}

/*contener for print prompt*/
conteneur6 {
	display: flex;
	flex-direction: row;
	justify-content: right;
}

button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
	color: rgb(0, 0, 0);
	border-bottom: solid;
	font-family: 'Yeseva one', cursive;
	font-size: 150%;
	font-weight: bold;
	/* margin-bottom: 1em; */
	margin-top: 1em;
}

button:hover {
	background-color: rgb(208, 208, 208);
}

@page {
	size: A4;
	/*
	margin-left: 2mm;
	margin-right: 2mm;
	margin-top: 2mm;
	margin-bottom: 2mm; */
	/* transform: scale(0.8, 0.8); */
}

body {
	/* background-color: #cf6c3b; */
	/* size: A4; */
	/* zoom: 0.9; */
	/* vertical-align: middle; */
	justify-content: center;
}

@media print {

	html,
	body {
		width: 210mm;
		height: 297mm;
	}
}